body{
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color: rgb(255, 255, 255);
   display: grid;
}

#main{
    margin-left: auto;
    margin-right: auto;
   display: flex;
    align-items: center;   
    justify-content: space-around;
    padding: 80px;
    background-color: #fff;
}
#footer{
    display: grid;
    background-color: rgb(255, 255, 255);
}
.contact{
    border-right: none;
}

nav a:link{
   color: black; 
    float: right;
    margin: 20px;
    border-right: solid 2px;
    padding: 20px;
    text-decoration: none;
    margin-top: -40px;
    
}
nav a:nth-child(1){
    border-right: none;
}
h1{
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.profile{
    width: 500px;
  height: 500px;
  border: solid 0cap;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -200px;
  margin-top: 100px;
}
.hello{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    margin-top: -100px;
    margin-left: -10px;

}
.paragraph{
    margin-top: 100px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;

}
.circle{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 400px;
    margin-right: 500px

     }
.circle-1{

    background-color: bisque; 
    width: 150px;
    height: 150px;
    border-radius: 50%;


    text-decoration: none;
   display:inline-flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   
}




.circle-1:hover{
    background-color: black;
}



.circle-1:active{
    background-color: aqua;
}
.footer{
    display: flex;
    align-items: center
    ;

}
hr{
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 0%;
}
